# Binaries
**/bin/
!vendor/premake/bin/
bin-int/
**/Build/
Binaries/


# Suora files
*.log
*.edpref

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# JetBrains files and folder
.idea/

# Generated Headers
**.generated.h

# Generated Modules
**.module.cpp
**.generated.lua
